<!DOCTYPE html>
<html>
<head>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
   <link rel="stylesheet" href="css/styles.css">
	<title>pear</title>
</head>
<body>
<div class="container">
    {% include 'header.html' %}
	<h3>{{ brand.getBrandName }}</h3>
	<form action="/brand_delete" method="post">
		<input name="_method" type="hidden" value="delete">
		<input name="brand_id" id="brand_id" value="{{ brand.getId }}" type="hidden">
		<button class="btn" type="submit">Delete brand</button>
	<form>	
<br>
<br>
	<button><a href="/stores">List of all brands</a></button>
<br>
<br>
	<button><a href="/">Home</a></button>
</div>
</body>
</html>
