<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
	<title>Shoe Store</title>
</head>
<body>
  <div class="container">
    <header class="jumbotron">
    <h1><a href='/'>Shoes shoes shoes!</a></h1>
    </header>
  <h3>Brands:</h3>
  	{% if brands is not empty %}
  		<ul>
  		{% for brand in brands %}
  			<li><a href='/brand/{{ brand.getId }}'>{{ brand.getBrandName }}</a></li>
  		{% endfor %}
  		</ul>
  	{% else %}
  		<h4>There are no brands entered yet.</h4>
  	{% endif %}
  	<form action="/add_brand" method="post">
  		<label for="brand_name">Add a brand</label>
  		<input id="brand_name" name="brand_name" class="form-class" type="text" autofocus="autofocus">
  		<button type="submit">Submit</button>
  	</form>
    <br>
  	<form action="/delete_brands" method="post">
  		<button type="submit">Delete All Brands</button>
  	</form>
    <br>
  	<button><a href="/stores">List of stores</a></button>
  	<button><a href="/">Home</a></button>
  </div>
</body>
</html>
