<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <link href='http://fonts.googleapis.com/css?family=Shadows+Into+Light' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="css/styles.css">
	<title>pear</title>
</head>
  <body>
  <div class="container">
    <header class="jumbotron">
      <h1 class="pear-green"><a href='/'>{ pear }</a></h1>
      <br>
      <h4 class="center">Collaboration when you need it.</h4>
    </header>

   </html>