<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/styles.css">
	<title>Shoe Store</title>
</head>
  <body>
  <div class="container">
    <header class="jumbotron">
      <h1 class="pear-green"><a href='/'>{ pear }</a></h1>
    </header>
    <h2><a href='/brands'><button>Explore</button></a></h2>
<!--     <h2><a href='/stores'><button>Stores</button></a></h2>
 -->  </div>
  </body>
</html>
