<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/styles.css">
	<title>pear</title>
</head>
  <body>
  <div class="container">
    {% include 'header.html' %}
  	{% if stores is not empty%}
  		<h3>{{ store.getStoreName }}</h3>
  		<form action="/store_update/{{ store.getId }}" method="post">
  			<input name="_method" type="hidden" value="patch">
  			<input name="store_name" id="store_name" type="text">
  			<button type="submit">Update store name</button>
  		</form>
      <br>
  		<form action="/store_delete/{{ store.getId }}" method="post">
  			<input name="_method" type="hidden" value="delete">
  			<input name="store_id" id="store_id" type="hidden">
  			<button class="btn" type="submit">Delete store</button>
  		<form>
  	{% else %}
  	<h4><a href="/stores">Add a new store</a></h4>
  	{% endif %}
    <br>
    <br>
  	<button><a href="/stores">List of all stores</a></button>
  	<button><a href="/">Home</a></button>
  </div>
</body>
</html>
